{% extends 'indexmode.html' %}
{% block content %}
        <div class="center">
            <p>
                Tel: 000-000-0000<br>
                Location: 1265 Military Trail, Scarborough, ON M1C 1A4<br>
                Available Time: Thursday - Saturday 9AM-10PM. Sunday & Wednesday 9AM-9PM. Monday & Tuesday - Closed<br>
            </p>
            <br>
            <br>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31662.93966708659!2d-79.20311673863951!3d43.780304668984954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4da6fb7abd57f%3A0xbb656e0169887bac!2z5aSa5Lym5aSa5aSn5a2m5aOr5ZiJ5aCh5YiG5qCh!5e0!3m2!1szh-CN!2sca!4v1680673338544!5m2!1szh-CN!2sca" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
{% endblock %}